[build]
  builder = "nixpacks"

[deploy]
  startCommand = "node server.js"
  healthcheckPath = "/"
  healthcheckTimeout = 300
  restartPolicyType = "on_failure"

[[services]]
  name = "backend"
  
  [services.health_checks]
    path = "/"
    port = 5050